@model tourfinal.DestinationBookingViewModel
   

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<div class="container">
    <h2>@Model.Destination.DestinationName</h2>

    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ImageURL" class="img-fluid float-left mr-3" alt="@Model.Destination.DestinationName">
        </div>
            @if (Model.Destination.DestinationID == 1)
            {
                <p>Text specific to DestinationID 1</p>
            }
            else if (Model.Destination.DestinationID == 2)
            {
                <p>Text specific to DestinationID 2</p>
            }
            else if (Model.Destination.DestinationID == 3)
            {
                <p>Text specific to DestinationID 3</p>
            }
            else if (Model.Destination.DestinationID == 4)
            {
                <p>Text specific to DestinationID 4</p>
            }
            else if (Model.Destination.DestinationID == 5)
            {
                <p>Text specific to DestinationID 5</p>
            }
            else if (Model.Destination.DestinationID == 6)
            {
                <p>Text specific to DestinationID 6</p>
            }
            else if (Model.Destination.DestinationID == 7)
            {
                <p>Text specific to DestinationID 7</p>
            }
            else if (Model.Destination.DestinationID == 8)
            {
                <p>Text specific to DestinationID 8</p>
            }
            else if (Model.Destination.DestinationID == 9)
            {
                <p>Text specific to DestinationID 9</p>
            }
            

            <h4>Ready to Explore?</h4>
            <p>Book your trip now and experience the beauty of @Model.DestinationName</p>
            <a href="@Url.Action("BookNow", "Home", new { destinationID = Model.Destination.DestinationID })" class="btn btn-success">Proceed to Booking</a>
        </div>
    </div>
</div>

