@model IEnumerable<tourfinal.Models.User>

@{
    ViewBag.Title = "UserManagement";
}

<style>
    body {
        background-image: url('../../image/white.jpg');
        background-size: cover;
        background-position: center;
        font-family: Arial, sans-serif;
        color: #333;
    }


    table {
        width: 100%;
        margin-top: 50px;
    }

        table th, table td {
            padding: 10px;
            text-align: left;
        }


        table th {
            background-color: #f5f5f5;
        }


        table tr:nth-child(even) {
            background-color: #f9f9f9;
        }


    a {
        color: #007bff;
        text-decoration: none;
        margin-right: 10px;
    }


    h2 {
        margin-top: 20px;
    }


    .create-button {
        margin-bottom: 20px;
    }
</style>

<h2>Admin Page</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "create-button btn btn-primary" }) <!-- Optional: Add button classes for styling -->
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Details", "Details", new { id = item.UserID }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
